
.MainAddTask{
   display: flex;
   justify-content: center;
   align-items: center;
}

.SectionAddTaskPanel{
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
}

.SectionAddTaskPanel .ContainerForm .StyleInputAdd, .StyleInputAdd{
   width: 100%;
   display: flex;
}